.middle{
    display: flex;
    margin: 0px;
    height: 90px;
    background-color: rgb(222, 208, 84);
    
}
.title{
    margin: 0px;
    margin-top: 27.5px;
    height: 35px;
    width: 280px;
    color: white;
    background-color: black;
}
.title-text{
    margin: 0px;
    margin-top: 7px;
    margin-left: 40px;
    font-size: 17px;
}
.Name{
    margin: 0px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 40px;
}
.Name-text{
    margin: 0px;
}